.Mainpage {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px solid black;
  margin-top: 3%;
  align-items: center;
}

.Header {
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 5%;
}

.TodoListItems {
  display: flex;
}

.inputinfo {
  padding-right: 30px;
}

.Ip_Button {
  margin: auto;
}
